src/main/resources/wsdl/1.0/ArithmaticService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://arithmatic.ubh.uhc.com/calculation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="arithmaticService"
	targetNamespace="http://arithmatic.ubh.uhc.com/calculation/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://arithmatic.ubh.uhc.com/calculation/">

			<xsd:element name="sum">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in0" type="xsd:int" />
						<xsd:element name="in1" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sumResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="sub">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in0" type="xsd:int"></xsd:element>
						<xsd:element name="in1" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="subResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="multiply">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in0" type="xsd:int"></xsd:element>
						<xsd:element name="in1" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multiplyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="division">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in0" type="xsd:int"></xsd:element>
						<xsd:element name="in1" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="divisionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="sumRequest">
		<wsdl:part element="tns:sum" name="parameters" />
	</wsdl:message>
	<wsdl:message name="sumResponse">
		<wsdl:part element="tns:sumResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="subRequest">
		<wsdl:part name="parameters" element="tns:sub"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="subResponse">
		<wsdl:part name="parameters" element="tns:subResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="multiplyRequest">
		<wsdl:part name="parameters" element="tns:multiply"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="multiplyResponse">
		<wsdl:part name="parameters" element="tns:multiplyResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="divisionRequest">
		<wsdl:part name="parameters" element="tns:division"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="divisionResponse">
		<wsdl:part name="parameters" element="tns:divisionResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ArithmaticCalculationServicePort">
		<wsdl:operation name="sum">
			<wsdl:input message="tns:sumRequest" />
			<wsdl:output message="tns:sumResponse" />
		</wsdl:operation>
		<wsdl:operation name="sub">
			<wsdl:input message="tns:subRequest"></wsdl:input>
			<wsdl:output message="tns:subResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multiply">
			<wsdl:input message="tns:multiplyRequest"></wsdl:input>
			<wsdl:output message="tns:multiplyResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="division">
			<wsdl:input message="tns:divisionRequest"></wsdl:input>
			<wsdl:output message="tns:divisionResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ArithmaticCalculationServiceSoapBinding"
		type="tns:ArithmaticCalculationServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="sum">
			<soap:operation soapAction="http://arithmatic.ubh.uhc.com/calculation/sum" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="sub">
			<soap:operation soapAction="http://arithmatic.ubh.uhc.com/calculation/sub" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="multiply">
			<soap:operation soapAction="http://arithmatic.ubh.uhc.com/calculation/multiply" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="division">
			<soap:operation soapAction="http://arithmatic.ubh.uhc.com/calculation/division" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ArithmaticCalculationService">
		<wsdl:port binding="tns:ArithmaticCalculationServiceSoapBinding"
			name="ArithmaticCalculationServicePort">
			<soap:address location="http://localhost:8080/MathsCalculator/1.0" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>